<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">  
    <img src="../../../assets/Foto.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">Melvin Farias Ramirez</p>
       <p>Full Stack Developer Jr.</p>  
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
       <h1 id="titulo">Acerca de mí</h1>
       <p>Profesional con enfoque y experiencia en el manejo de actividades administrativas y logísticas de la empresa llevando el control de los recursos y responsabilidades asignadas ademas de seguimiento y controles de actividades relacionadas con proveedores.</p>
    </span> 
  </div>
</div>
