<div class="row">
    <h1>Estudios realizados</h1>
    <div class="col-lg-0"></div>
    <div class="col-lg-11">
             
        <ul>
            <li>
                <h3>T.S.U. Seguridad Industrial</h3> <h4>I.U.T. "Antonio José de Sucre" (Vzla)</h4> <h5>2013-2017</h5> 
            </li>
            <p>
                
            </p>

        </ul>

        <ul>
            <li>
                <h3>Bachiller en Ciencias</h3> <h4>L.N.B. "Padre Santiago F. Machado" (Vzla)</h4> <h5>2005-2010</h5> 
            </li>
            <p>
                
            </p>

        </ul>

     
            

    </div>


</div>

