<div class="row">
   <h1>Hard & Soft skills</h1>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/CSS.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
  ></circle-progress>
  </div>

  <div class="text-center alert-dismissible col-md-4 col-lg-4">
    <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/git.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
  ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="33"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/eng.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="100"
        [imageWidth]="100"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#024A86'"
        [innerStrokeColor]="'grey'"
        [animation]="true"
        [animationDuration]="600" 
        [imageSrc]="'../../../assets/grupal.png'"
        [showImage]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
    ></circle-progress>
  </div>
</div>
 