<div class="row">
    <h1>Proyecto Realizado</h1>
    <div class="contenido">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto Integrador - Argentina Programa</h2>
            <p>Es un programa de formación en programación y pensamiento computacional de dos fases con salida laboral en oficios digitales diseñado por la Cámara de la industria Argentina del Software.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="http://www.yoprogramo.org.ar/"> <img src="../../../assets/yoprogramo4.png" class="img-fluid img-proyecto" id="yoprogramo"></a> 

        </div>

    </div>

</div>
