<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">  
    <img src="../../../assets/Foto.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <p id="nombre">Melvin Gabriela Farias Ramirez</p>
       <p>Full Stack Developer Jr.</p>  
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
       <h1 id="titulo">Acerca de mí</h1>
       <p>Soy una una desarrolladora web full stack entry level autodidacta abierta a nuevas oportunidades laborales.
        Me considero una persona eficaz y muy perseverante, actualmente me encuentro en búsqueda de mi primer oportunidad laboral IT en una empresa que potencie mi crecimiento profesional.</p>
    </span> 
  </div>
</div>
