.row{
  padding: 3% 0% 0% 0%;
    border: 0px solid #5e4b456c;
    background-color: hsla(14, 46%, 75%, 0.424);

}
div{
    background-color: #9b918d6c;
  text-align: center;  
}
/*estilo de foto de perfil*/
@media (min-width: 576px){
   #fotodeperfil{
     position: absolute;
     width: 15%;
     border-radius: 100px/100px;
     box-shadow: 10px 10px 10px  grey;
     left: 2%;
     top: 700px; 
   }   
}

@media (max-width: 575px){
    #fotodeperfil{
      position: absolute;
      width: 30%;
      border-radius: 100%;
      box-shadow: 3px 3px 3px  grey;
      left: 30%;
      top: 1000px; 
    }   
 }


/*etiqueta de nombre*/
#nombre{
    font-weight: bold ;
    margin-top: 20%; 
}

/*etiqueta de Acerca de*/
#titulo{
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
    text-shadow: 5px 5px 5px grey;
}

p{
  margin-right: 5%;
  margin-left: 5%;
}

