<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Inbroker</h1> <h3>Asistente administrativo (Arg)</h3> <h4>6 Meses</h4> 
            </li>
            <p>
                Recepción de llamadas, registro y control de facturas en el sistema administrativo Tango,seguimiento de pagos a proveedores, registro y envío de encomiendas, responsable de caja chica y compras de material de oficina e insumos requeridos por el área de operaciones para las sedes administrativas y plantas así como el control y archivo de la respectiva documentación.
            </p>

        </ul>

        <ul>
            <li>
                <h1>Dayco Telecom</h1> <h3>Analista de logística (Vzla)</h3> <h4>2 Años</h4> 
            </li>
            <p>
                Atención al público, manejo del conmutador, contacto con proveedores, recepción de facturas,responsable de gestión de transporte de ambas sedes de la empresa con su debida logística de catering y reservas de hospedaje nacional e internacional así como llevar el control de dichas solicitudes.
            </p>

        </ul>

        <ul>
            <li>
                <h1>Laboratorios Clinilab</h1> <h3>Asistente Administrativo (Vzla)</h3> <h4>2 Años</h4> 
            </li>
            <p>
                Recepción de facturas y control de pagos a proveedores, llevar agenda del sub gerente programando reuniones y visitas de entes gubernamentales y realizar pagos de impuestos y visitas a la alcaldía.
            </p>

        </ul>


    </div>


</div>
